@use '../vars';

.homeContainer {
  height: 100%;
  .articlesContainer {
    display: flex;
    flex-direction: column;
    background-color: vars.$white;
    padding: 0 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    height: auto;
    > div {
      &:last-child {
        height: 100%;
        margin-top: 10px;
        align-self: flex-end;
      }
    }

    > h1 {
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: vars.$dark-2;

      padding: 20px 0;
    }
  }

  aside {
    display: none;
  }
}

@media (min-width: vars.$medium) {
  .homeContainer {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    .articlesContainer {
      margin-top: 30px;
    }
    aside {
      display: block;
      margin-top: 30px;
      background-color: vars.$white;
      padding: 0 20px;
      height: 270px;
      > h1 {
        font-size: 1.1rem;
        font-weight: bold;
        color: vars.$dark-2;
        text-transform: uppercase;

        padding: 20px 0;
      }
    }
  }
}

@media (min-width: vars.$large) {
  .homeContainer {
    max-width: 1200px;
  }
}

@media (min-width: vars.$extra-large) {
  .homeContainer {
    max-width: 1300px;
  }
}
